.navbar-brand {
  max-width: 150px;
}

.row {
  margin-top: 10px;
}

.outer-div {
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}
.inner-div {
  display: inline-block;
  padding: 50px;
  border-radius: 3px;
}
